@media (max-width: 451px) {
	.hidden-lt-xs {
		display: none !important;
	}
}

@media (max-width: 651px) {
	.hidden-lt-sm {
		display: none !important;
	}
}

@media (min-width: 1260px) {
	.hidden-gt-lg {
		display: none !important;
	}
}
@media (max-width: 1259px) {
	.hidden-lt-lg {
		display: none !important;
	}
}
