/* colors */
:root {
	--background-primary: #fdfcfc;
	--background-secondary: #faf9f9;
	--background-hover: #e2e1df;

	--border-primary: #a6a4a2;
	--border-secondary: #d8d7d4;

	--display-primary: #000000;
	--display-secondary: #46403d;
	--display-tertiary: #76726d;
	--display-quaternary: #a6a4a2;
	--display-link: #2f2fba;
}

/* borders */
:root {
	--border-width: 1.5px;

	@media (min-width: 652px) {
		--border-width: 2px;
	}
}

/* spaces */
:root {
	--body-padding-inline: 1rem;
	--section-spacing: 4rem;
	--section-scroll-padding: 7rem;
	--content-section-gap: 1rem;
	--indent: 1rem;

	@media (min-width: 652px) {
		--body-padding-inline: 2rem;
		--section-spacing: 6rem;
		--section-scroll-padding: 9rem;
		--content-section-gap: 1.5rem;
		--indent: 1.5rem;
	}
	@media (min-width: 1260px) {
		--body-padding-inline: 2rem;
		--section-spacing: 9rem;
		--indent: 0rem;
		--content-section-gap: 2.5rem;
		--section-scroll-padding: 4rem;
	}
}

/* containers */
:root {
	--container-max-width: 500px;

	@media (min-width: 652px) {
		--container-max-width: 700px;
	}

	@media (min-width: 1260px) {
		/* --container-max-width: 1075px; */
		--container-max-width: 1332px;
	}
}
