@font-face {
	font-family: "Arial Narrow";
	src: url("/fonts/ArialNarrowBold.ttf");
	font-weight: 700;
}
@font-face {
	font-family: "Arial Narrow";
	src: url("/fonts/ArialNarrow.ttf");
	font-weight: 400;
}

/* type sizes */
:root {
	--ff-display: "Arial Narrow";
	--ff-body: "Arial";

	--heading-xl-size: 46px;
	--heading-lg-size: 40px;
	--heading-base-size: 26px;
	--callout-size: 22px;
	--body-xl-size: 19px;
	--body-lg-size: 19px;
	--body-base-size: 19px;
	--body-sm-size: 17px;
	--nav-link-size: 18px;
	--metadata-size: 11.5px;

	@media (min-width: 652px) {
		--heading-xl-size: 80px;
		--heading-lg-size: 70px;
		--heading-base-size: 30px;
		--callout-size: 32px;
		--body-xl-size: 26px;
		--body-lg-size: 26px;
		--body-base-size: 23px;
		--body-sm-size: 21px;
		--nav-link-size: 19px;
		--metadata-size: 14px;
	}

	@media (min-width: 1260px) {
		--heading-xl-size: 88px;
		--body-xl-size: 60px;
		--body-lg-size: 29px;
		--callout-size: 38px;
	}
}

.heading-xl {
	font-family: var(--ff-display);
	font-weight: 700;
	font-size: var(--heading-xl-size);
	line-height: 100%;
	letter-spacing: 0.005em;
	color: var(--display-primary);
	text-transform: uppercase;
}
.heading-lg {
	font-family: var(--ff-display);
	font-weight: 700;
	font-size: var(--heading-lg-size);
	line-height: 100%;
	letter-spacing: 0.005em;
	color: var(--display-primary);
	text-transform: uppercase;
}
.heading-base {
	font-family: var(--ff-display);
	font-weight: 700;
	font-size: var(--heading-base-size);
	line-height: 110%;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--display-primary);
}

.callout {
	font-family: var(--ff-display);
	font-weight: 400;
	font-size: var(--callout-size);
	line-height: 110%;
	letter-spacing: 0.01em;
	color: var(--display-secondary);
	text-wrap: balance;
}

.body-xl {
	font-family: var(--ff-body);
	font-weight: 400;
	font-size: var(--body-xl-size);
	line-height: 150%;
	color: var(--display-secondary);
}

.body-lg {
	font-family: var(--ff-body);
	font-weight: 400;
	font-size: var(--body-lg-size);
	line-height: 150%;
	color: var(--display-secondary);
}

.body-base {
	font-family: var(--ff-body);
	font-weight: 400;
	font-size: var(--body-base-size);
	line-height: 150%;
	color: var(--display-secondary);
}

.body-sm {
	font-family: var(--ff-body);
	font-weight: 400;
	font-size: var(--body-sm-size);
	line-height: 160%;
	letter-spacing: 0.005em;
}

.navigation-link {
	font-family: var(--ff-body);
	font-weight: 700;
	font-size: var(--nav-link-size);
	line-height: 130%;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: var(--display-tertiary);
}

.metadata {
	font-family: var(--ff-body);
	font-weight: 700;
	font-size: var(--metadata-size);
	line-height: 130%;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: var(--display-tertiary);
}

@media (min-width: 652px) {
	.body-base {
		line-height: 160%;
	}
	.body-sm {
		line-height: 170%;
	}
}

@media (min-width: 1260px) {
	.body-xl {
		font-family: var(--ff-display);
		font-weight: 400;
		line-height: 130%;
		color: var(--display-primary);
	}

	.callout {
		line-height: 130%;
	}
}
