---
layout: layouts/base.njk
---

{% include "components/header.njk" %}
<main>
    <hgroup>
        <h1 class="heading-xl">Boycott the Logan Theatre!</h1>
        <p class="body-lg">We demand M. Fishman & Co. drop the unjust eviction against our neighbor, Manal Farhan.</p>
        <div class="hidden-lt-lg">{% include "components/day-counter.njk" %}</div>
    </hgroup>
    <section class="image-section header">
        <img loading="lazy" class="img01" src="/img/logan01.jpg" alt="">
        <img loading="lazy" class="img02 hidden-lt-sm" src="/img/logan02.jpg" alt="">
        <img loading="lazy" class="img03 hidden-lt-lg" src="/img/logan03.jpg" alt="">
    </section>
    <section id="whats-the-story" class="content-section">
        <h2 class="heading-base">The story</h2>
        <div class="paragraphs body-base">
            <p>November 2023 – in an act of anti-Palestinian racism, owner of The Logan Theatre and long-time enemy of the neighborhood, landlord Mark Fishman, filed an eviction against his tenant for flying a Palestinian flag from her window over Milwaukee Avenue.</p>
        </div>
    </section>
    <section id="who-we-are" class="content-section">
        <h2 class="heading-base">Who we are</h2>
        <div class="paragraphs body-base">
            <p>We are an autonomous group of Logan Square neighbors who vehemently oppose Fishman’s discriminatory retaliation against our Palestinian neighbor. We’re organizing to have Manal’s eviction rescinded.</p>
        </div>
    </section>
    {# <section id="our-tactics" class="content-section">
        <h2 class="heading-base">Our tactics</h2>
        <div class="paragraphs body-base">
            <p>Obviously one of our tactics is boycotting The Logan Theatre. The other one's we're going to talk about on Friday.</p>
        </div>
    </section> #}
    <section id="most-recently" class="content-section">
        <h2 class="heading-base">Most recently,</h2>
        <div class="paragraphs body-base">
            <p>
                On the evening of March 30th, community members assembled outside of The Logan Theatre, calling on the neighborhood to continue boycotting the business in light of the recent updates in Mark Fishman’s assault on Manal Farhan, the Palestinian tenant he moved to evict last November. A few weeks ago, the court agreed with Fishman in Manal’s housing discrimination case against the landlord: the eviction is viable because he is discriminating against Farhan’s “politics” of supporting Palestine, not against her national origin of Palestine, as Farhan’s case alleged. Then on Friday, after the protest had already been announced, Fishman issued a second eviction notice to Manal, a ridiculous move that could only be for the purpose of punishing Manal for challenging his first. We see Fishman’s attacks on Manal for what they are: Zionist, racially-motivated attempts to terrorize and displace a Palestinian person from the neighborhood.
            </p>
            <p>
                The Logan Square community is no stranger to Fishman’s self-serving, gentrification-fueling business practices, but we went further, explaining to passersby the connection between Fishman’s unconscionable behavior as a landlord to that of the Israeli occupation in Palestine. Fishman and the state of Israel share a “colonial mindset” in which the individual’s or state’s personal interests are pursued no matter the violence and displacement required to achieve it. Fishman has acted on this mindset by purposefully pricing out long-term residents to make room for wealthier, whiter newcomers, just as Israel has established an apartheid state to systematically demolish and displace Palestinian communities to make room for settlers.
            </p>
            <p>
                Our group also reminded the neighborhood how Fishman exposed himself as a Zionist earlier this month when he hosted a private film screening of an Israeli propaganda film at The Logan Theatre to help fund the Israeli Occupation Forces’ violence in Gaza. They say Fishman’s eviction of Farhan on the basis of her political beliefs cannot be viewed in isolation of his political beliefs, which fundamentally require the ethnic cleansing of the Palestinian people, apparently both in Palestine and in Logan Square.
            </p>
            <p>
                 We believe the March 30th action was a testament to the power of the people to expose injustice and demand accountability for our communities. We encourage our neighbors and all Chicagoans to continue to organize and take action to expose M. Fishman for who he is: a genocide supporter, a gentrifier, and an oppressor of our beautiful neighborhood.
            </p>
        </div>
    </section>
    <section id="call-to-action">
        <h2 class="heading-lg hidden-gt-lg">Boycott!</h2>
        <p class="body-xl">We call on our neighbors to join us in the ongoing boycott of The Logan Theatre in recognition of the power of our local choices.</p>
    </section>
    <section class="image-section cta">
        <img loading="lazy" class="img04 hidden-lt-lg" src="/img/logan04.jpg" alt="">
        <img loading="lazy" class="img05" src="/img/logan05.jpg" alt="">
    </section>

    <section id="fishman-in-the-media" class="content-section">
        <h2 class="heading-base">Fishman in the media</h2>
        <div class="paragraphs body-base">
            <p>
                Don’t take our word for it – Mark Fishman has a well-documented past of being a menace to the Logan Square community, prioritizing his own financial interests at the expense of neighbors new and old.
            </p>
        </div>
        <ul class="article-cards">
            {% from "components/article-card.njk" import articlecard %}

            {% for article in articles %}
                <li>{{ articlecard(title=article.title, link=article.link, source=article.source, date=article.date) }}</li>
            {% endfor %}
        </ul>
    </section>
</main>
<footer>
    <h2 class="heading-base">
        <a href="#">#boycottlogantheatre</a>
    </h2>
    {% include "components/nav.njk" %}
</footer>
