<nav>
    <div class="nav-inner-links">
        <a x-on:click="open = false" href="#whats-the-story" class="navigation-link">The story</a>
        <span class="nav-dot hidden-lt-lg">•</span>
        <a x-on:click="open = false" href="#who-we-are" class="navigation-link">Who we are</a>
        <span class="nav-dot hidden-lt-lg">•</span>
        <a x-on:click="open = false" href="#most-recently" class="navigation-link">Most recently</a>
        <span class="nav-dot hidden-lt-lg">•</span>
        <a x-on:click="open = false" href="#fishman-in-the-media" class="navigation-link">Fishman in the media</a>
    </div>
    <a x-on:click="open = false" target="_blank" href="https://www.instagram.com/boycottlogantheatre/" class="navigation-link">Instagram</a>
</nav>
